

body {
  display: flex;
  background-image: url('../images/world-map-smaller.jpg'); 
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  height: 100vh;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.panel {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  width: 60%; 
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column; 
  position: relative;
  min-height: 360px; 
}

.home-icon {
  position: absolute;
  top: 10px; 
  left: 10px; 
  font-size: 24px; /* Icon size */
  color: #000; 
  text-decoration: none; 
}

.question {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  color: #333;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.new-game {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #28a745; /* Green, suggests 'go' or 'start' */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new-game:hover {
  background-color: #218838;
}

.quiz-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%; 
}

.choice {
  padding: 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(27, 14, 122, 0.95);
  color: rgb(241, 240, 240);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.choice:hover {
  background-color: #0056b3;
}

.scoreboard {
  width: 100%;
  margin-top: 15px; /* Adjust this to reduce/increase space below the home icon */
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-between; /* This spreads the score and question count across the width */
  padding: 10px 0; /* Padding for visual spacing inside scoreboard */
  display: none; /* Initially hide the scoreboard */
}


.scoreboard span {
  margin-right: 20px; /* Increase right margin */
  white-space: nowrap; /* Ensure the text does not wrap to the next line */
}

.scoreboard span:last-child {
  margin-right: 0; /* Ensure the last item doesn't have a right margin */
}


@media (max-width: 768px) {
  .panel {
      width: 80%; /* Increase relative width on smaller screens */
      padding: 30px; /* Reduce padding */
      min-height: 300px; /* Adjust the minimum height */
  }

  .home-icon {
      top: 5px;
      left: 5px;
      font-size: 20px; /* Reduce icon size slightly */
  }

  .question {
      font-size: 18px; /* Slightly smaller font size */
  }

  .new-game {
      padding: 10px 20px;
      font-size: 16px; /* Slightly smaller font size */
  }

  .quiz-container {
      grid-template-columns: 1fr; /* Stack buttons vertically */
  }

  .choice {
      padding: 20px; /* Slightly smaller padding */
      font-size: 14px; /* Slightly smaller font size */
  }

  .scoreboard {
      font-size: 16px; /* Slightly smaller font size */
  }

  .choice:hover {
    background-color: rgba(27, 14, 122, 0.95);
  }

  .choice:focus {
    outline: none;
    box-shadow: none;
  }  

}


@media (max-width: 480px) {
  .panel {
      width: 95%; /* Make the panel take almost full width */
      padding: 20px; /* Further reduce padding */
      min-height: 250px; /* Further reduce minimum height */
  }

  .home-icon {
      font-size: 18px; /* Even smaller icon size */
  }

  .question, .new-game, .choice {
      font-size: 14px; /* Uniform smaller font size for all interactive elements */
  }

}
